   body{
       background-image: url("billeder_if/rouge.jpeg");
           
      color:
       }


/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: hotpink;
}